# AuditHandler will pick some important fields from headers and tokens and logs into a audit appender.
---
# Enable Audit
enabled: true

# Enable mask
mask: true

# Output response status code
statusCode: true

# Output response time
responseTime: true

# when auditOnError is true:
#  - it will only log when status code >= 400
#  - response body will be only logged when auditOnError is true
#  - status detail will be only logged when auditOnError is true
# when auditOnError is false:
#  - it will log on every request
#  - no response body will be logged
#  - no status detail will be logged
# log level is controlled by logLevel
auditOnError: false

# will audit stacktrace when using default setExchangeStatus
# auditStackTrace: false

# log level; by default set to info
logLevelIsError: false

# the format for outputting the timestamp, if the format is not specified or invalid, will use a long value.
#timestampFormat: yyyy-MM-dd'T'HH:mm:ss.SSSZ

# Output header elements. You can add more if you want.
headers:

# Correlation Id
- X-Correlation-Id

# Traceability Id
- X-Traceability-Id

# Output from id token and access token
audit:

# Client Id
- client_id

# User Id in id token, this is optional
- user_id

# Client Id in scope/access token, this is optional
- scope_client_id

# Request endpoint uri@method.
- endpoint

# Service ID assigned to the service, this is optional and must be set by the service in its implementation
- serviceId

# Request Body, this is optional and must be set by the service in its implementation
# - requestBody

# Response payload, this is optional and must be set by the service in its implementation
# - responseBody

# Response error status payload
- Status
